<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devanagari Character Recognition</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <div class="content">
    <div class="text">Devanagari Character Recognizer</div>
    {% block content %}{% endblock %}
  </div>
  <div class="drak-light">
    <i class="bx bx-moon moon"></i>
    <i class="bx bx-sun sun"></i>
</div>
</div>
  <script>
    const body = document.querySelector("body"),
    modeToggle = document.querySelector(".drak-light");

    modeToggle.addEventListener("click",() =>{
        modeToggle.classList.toggle("active");
        body.classList.toggle("dark");
        if(!body.classList.contains("dark")){
            localStorage.setItem("mode","light-mode");
        }
        else{
            localStorage.setItem("mode","dark-mode");
        }
    })
</script>
</body>

</html>